.send-form input{
    color: green;
    font-size: 16px;
    border:1px solid green;
    height: 2.5rem;
    width: 67%;
    border-radius: 999px;
}
.send-form input::placeholder {
    color: green;
    font-style: monospace;
  }

.send-form input:focus{
    border-color: green;
    outline: none;
}

.send-form button{
    color: white;
    background-color: rgb(109, 198, 109);
    height: 2.5rem;
    width: 12%;
    border: 1px solid green;
    border-radius: 999px;
}

.send-form button:hover{
    background-color: green;
}

.send-form{
    bottom: 0%;
}